.cart {
    &__container {
    }

    &__title {
        text-align: center;

        h1 {
            color: #333333;
            font-family: Arial;
            font-size: 18px;
            font-weight: 500;
            line-height: 19.8px;
            margin: 10px 0px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__table {
        margin-top: 20px;
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ccc;

            thead {
                tr {
                    background-color: #ea4242;
                    color: #fff;

                    th {
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }

            th,
            td {
                padding: 12px 10px;
            }

            td:not(:last-child),
            th:not(:last-child) {
                border-right: 1px solid #ccc;
            }

            tbody {
                background-color: #fff;

                tr:not(:last-child) {
                    border-bottom: 1px solid #ccc;
                }
            }

            td {
                &:first-child {
                    display: flex;
                    gap: 0 20px;
                    align-items: center;
                }

                a {
                    text-decoration: none;
                    i {
                        font-size: 18px;
                        padding: 10px 12px;
                        border-radius: 50%;
                        background-color: #ea4242;
                        color: #fff;
                    }
                }

                input {
                    width: 80%;
                    padding: 8px 4px 8px 10px;
                    outline: none;
                    border: 1px solid #ccc;
                }

                .img {
                    width: 100px;
                    display: inline-block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .table__bottom {
            margin-top: 20px;
            width: 40%;
            margin-left: auto;

            .table__total {
                margin-bottom: 20px;
                border: 1px solid #ccc;
                background-color: #fff;
                display: flex;

                p {
                    padding: 14px;
                    width: 50%;

                    &:first-child {
                        border-right: 1px solid #ccc;
                    }

                    &:last-child {
                        text-align: right;
                        color: $color-primary;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
            .table__pay {
                button {
                    width: 100%;
                    border: none;
                    padding: 14px;
                    background-color: $color-primary;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    transition: $transition-primary;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
