$text-primary: #333;
$text-secondary: #b7b7b7;
$bg-primary: #f5f5f5;
$bg-secondary: #dc3333;
$color-primary: #dc3333;
$border-primary: #fff 1px dashed;
$border-secondary: #ccc thin solid;
$transition-primary: all 0.3s ease;
