.bill {
    padding: 20px 45px;
    background-color: #fff;
    border: 1px solid #d2d2dc;

    &__header {
        margin: 48px 0;

        p {
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            margin: 48px 0px;
            text-align: right;
        }
    }

    &__content {
        border-top: 1px solid #d2d2dc;
        border-bottom: 1px solid #d2d2dc;
        padding: 58px 0;
        overflow-x: auto;

        .bill__main {
            min-width: 800px;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                background-color: #08113b;

                tr > th {
                    padding: 20px 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            tbody {
                tr > td {
                    padding: 15px;
                    border-top: 1px solid #f3f3f3;
                }
            }
        }
    }

    &__date {
        margin: 48px 0;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        .customer__info {
            .customer__position {
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
            }

            .customer__name {
                margin-top: 4px;
            }
        }

        .bill__receive {
            text-align: right;

            .receive__title {
                font-weight: 700;
                margin-bottom: 4px;
            }
        }
    }

    &__bottom {
        margin-top: 48px;
        position: relative;

        p {
            text-align: right;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        .bill__action {
            position: absolute;
            right: 20px;
            bottom: -44px;
        }
    }

    &__footer {
        display: flex;
        margin-top: 48px;
        justify-content: end;
        gap: 0 8px;
    }
}
