.login {
    max-width: 450px;
    background-color: #fff;
    padding: 48px;
    margin: 100px auto 28px;

    &__form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__link {
            font-size: 32px;
            color: #000;
            position: relative;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 0.2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $height-header;

            b {
                position: relative;
                font-weight: 500;
                margin-right: 18px;
                font-size: 32px;
                color: #fff;
                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40px;
                    height: 40px;
                    border-radius: 1% 50% 50% 50%;
                    background-color: $primary-color;
                    z-index: -1;
                }
            }
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .remember__login {
            display: flex;
            align-items: center;
            gap: 0 4px;
            color: pointer;

            label {
                color: #9b9b9b;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .register {
            &__link {
                text-decoration: none;
                color: #555;
                transition: all 0.3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__facebook {
        i {
            font-size: 12px;
            margin-right: 8px;
        }
    }
}
